body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

select {
    padding: 10px;
    margin: 20px;
    width: 250px;
}

.catalog {
    width: 900px;
    margin: auto;
}

.card {
    width: 220px;
    height: 120px;

    display: inline-block;

    margin: 10px;
    padding: 15px;

    background-color: #f4e5e8;
    border: 2px solid #6b2d3c;

    box-sizing: border-box;
}

.card p {
    margin-top: 20px;
}